:root {
  --recipe-color: #9fe59e;
  --recipe-title: #367630;
  --recipe-button-color: #367630;
  --recipe-shadow: #26c91863;

  --amigurumi-color: #9fe59e;
  --amigurumi-title: #367630;
  --amigurumi-button-color: #367630;
  --amigurumi-shadow: #26c91863;
}
*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}
body {
  font-family: 'Courier New', Courier, monospace;
  min-height: 100vh;
  position: relative;
}
ul, li, ol, a {
  list-style: none;
  text-decoration: none;
}
header {
  height: 100px;
  width: 100%;
  max-width: 600px;
}
main {
  background-image:url(./images/fundoHome.svg);
  background-repeat: repeat;
  width: 100%;
}
main > section {
  width: 100%;
}
h1, h4 {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
h2 {
  width: 100%;
  height: 40px;
  background-color: #002e69;
  color: #fff;
  margin-bottom: 20px;
}
#recipe-div h3, #amigurumi-div h3 {
  font-size: 2rem;
  background-color: rgb(255, 253, 253);
  padding: 5px 15px;
  border-radius: 25px;
  position: absolute;
  top: 0;
}
#recipe-div h3 {
  color: var(--recipe-title);
  border: 1px solid var(--recipe-button-color);
  box-shadow: 0 0 15px var(--recipe-shadow);
}
#amigurumi-div h3 {
  color: var(--amigurumi-title);
  border: 1px solid var(--amigurumi-button-color);
  box-shadow: 0 0 15px var(--amigurumi-shadow);
}
p {
  font-size: 1.2rem;
}
header > img {
  width: 180px;
  height: auto;
  padding-left: 5px;
}
nav {
  width: 140px;
}
nav ul {
  width: 130px;
}
ul img {
  width: 50px;
  height: 50px;
}
main > section:last-child {
  padding-top: 20px;
}
footer {
  background-color: #002e69;
  width: 100%;
  height: 80px;
  margin-top: 20px;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  flex-direction: column;
}
.sa {
  justify-content: space-around;
}
.sb {
  justify-content: space-between;
}
.se {
  justify-content: space-evenly;
}
#recipe-div, #amigurumi-div {
  position: relative;
  width: 375px;
  padding-top: 20px;
}
#recipe-image {
  border: 12px solid var(--recipe-color);
  border-radius: 20px 20px 0 0;
  width: 280px;
  height: 280px;
}
#recipe-description, #amigurumi-description {
  margin-top: -1px;
  height: 150px;
  width: 280px;
  text-align: justify;
  border-radius: 0 0 20px 20px;
  font-weight: 600;
}
#recipe-description {
  background-color: var(--recipe-color);
}
#amigurumi-description {
  background-color: var(--amigurumi-color);
}
#amigurumi-image {
  border: 12px solid var(--amigurumi-color);
  border-radius: 20px 20px 0 0;
}
#amigurumi-description {
  height: 150px;
  width: 280px;
  text-align: justify;
  border-radius: 0 0 20px 20px;
  font-weight: 600;
}
.more-content-button {
  width: 120px;
  height: 30px;
  cursor: pointer;
  border-radius: 18px;
  color: #fff;
  font-size: 1.15rem;
}
#recipe-description .more-content-button {
  background-color: var(--recipe-button-color);
}
#amigurumi-description .more-content-button {
  background-color: var(--amigurumi-button-color);
}
.cart-actions {
  width: 340px;
  margin-top: 5px;
}
#add-to-cart, #open-cart, #order {
  width: 120px;
  height: 45px;
  background-color: #002e69;
  color: white;
  font-weight: 600;
  border-radius: 5px;
}
#open-cart {
  background-color: #1c6bd3;
}
.stop-scroll {
  overflow: hidden;
}
.order {
  width: 180px;
}
.arrow-right, .arrow-left {
  width: 45px;
  height: 45px;
  color: white;
  border-radius: 50%;
}
.arrow-right {
  background-color: #002e69;
}
.arrow-left {
  background-color: gray;
}
#cart {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 10%;
  border-radius: 10px;
}
#cart::backdrop {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.5), #002e6986);
}
#item-list {
  height: 420px;
  padding-top: 10px;
}
.cart-item {
  border-bottom: 3px solid #002e69;
  margin-bottom: 10px
}
.item-image {
  width: 70px;
  height: 70px;
}
.cart-buttons {
  width: 150px;
  height: 80px;
  background-color: #002e69;
  font-size: 1.2rem;
  color: white;
}
.cart-buttons:last-child {
  border-left: 2px solid white;
}